{:paths ["src"],
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  de.topobyte/osm4j-pbf {:mvn/version "1.2.0"},
  com.slimjars.trove4j/trove4j-long-array-list {:mvn/version "1.0.1"}},
 :mvn/repos
 {"slimjars" {:url "https://mvn.slimjars.com"}
  "topobyte" {:url "https://mvn.topobyte.de"}}}
